<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de Estoque</title>

    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>
<body>

    <div class="container">
        <h1>📦 Controle de Produtos</h1>

        <form action="{{ '/atualizar/' ~ produto_editar.id if produto_editar else '/adicionar' }}" method="post" class="form-box">

            <input type="text" name="nome" placeholder="Nome do Produto"
                   value="{{ produto_editar.nome if produto_editar else '' }}" required>

            <input type="number" step="0.01" name="preco" placeholder="Preço (R$)"
                   value="{{ produto_editar.preco if produto_editar else '' }}" required>

            <input type="text" name="categoria" placeholder="Categoria"
                   value="{{ produto_editar.categoria if produto_editar else '' }}" required>

            <button type="submit" class="{{ 'btn-warning' if produto_editar else 'btn-primary' }}">
                {{ '💾 Salvar Alteração' if produto_editar else '➕ Adicionar' }}
            </button>

            {% if produto_editar %}
            <a href="/" class="btn-cancel">Cancelar</a>
            {% endif %}
        </form>

        {% if produtos %}
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Preço</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for p in produtos %}
                <tr>
                    <td>#{{ p.id }}</td>
                    <td>{{ p.nome }}</td>
                    <td style="color: green; font-weight: bold;">R$ {{ "%.2f"|format(p.preco) }}</td>
                    <td><span class="badge">{{ p.categoria }}</span></td>
                    <td>
                        <a href="/editar/{{ p.id }}" class="acao-link editar">✏️ Editar</a>
                        <a href="/deletar/{{ p.id }}" class="acao-link excluir" onclick="return confirm('Tem certeza que deseja apagar?')">🗑️ Excluir</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <p style="text-align: center; color: #777;">Nenhum produto cadastrado ainda.</p>
        {% endif %}
    </div>

</body>
</html>